#Day 4

#FILE HANDLING AND EXCEPTION

In [5]:
f=open("file.txt","r")
print(f.read())
f.close()

Hello
My name is sumina

In [2]:
f=open("file.txt","r")
print(f.readline())
f.close()

Hello

In [4]:
f=open("file.txt","r")
print(f.read(5))
f.close()

Hello

In [7]:
with open("file.txt","r") as f:#use with
  print(f.read())

Hello
My name is sumina

In [8]:
f=open("file.txt","w")
print(f.write("good"))
f.close()

4

In [11]:
with open("file.txt","w") as f:
  print(f.write("come"))

4

In [14]:
f=open("file.txt","a")
print(f.write("\tgood"))
f.close()

5

##DELETE FILE

In [17]:
import os
#os.remove("file.txt") remove file
#os.rmdir("/content/delete")#remove folder

In [18]:
with open("data.txt","r") as f:
  print(f.read())

hello world

In [19]:
name=str(input("Enter your name:"))
with open("user.txt","w") as f:
  print(f.write(name))

Enter your name:sumina
6

In [25]:
with open("user.txt","r") as f:
  data=len(f.read())
  print(data)

6

In [26]:
data=str(input("Enter data:"))
with open("user.txt","a") as f:
  print(f.write(data))

Enter data:gurung
6

In [46]:
with open("number.txt", "r") as file:
    for line in file:
        words = line.split()
        for word in words:
                # Try converting each word to a float
                num = float(word)
                total += num

print("Total sum:", total)

Total sum: 19.0

##EXCEPTION HANDLING

In [48]:
try:
  print(a)
except NameError:
  print("error")

error